{
  "openapi": "3.1.0",
  "info": {
    "title": "NordSym public discovery",
    "version": "2026-07-11",
    "description": "Small public discovery surface for NordSym's agent architecture and operations metadata."
  },
  "servers": [
    {
      "url": "https://nordsym.com"
    }
  ],
  "paths": {
    "/agent-info": {
      "get": {
        "summary": "Structured NordSym capability and boundary metadata",
        "operationId": "getAgentInfo",
        "responses": {
          "200": {
            "description": "NordSym public agent metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Agent-readable overview of NordSym",
        "operationId": "getLlmsTxt",
        "responses": {
          "200": {
            "description": "Plain text overview",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/agents.md": {
      "get": {
        "summary": "Agent-facing NordSym guide",
        "operationId": "getAgentsMd",
        "responses": {
          "200": {
            "description": "Markdown guide for agents",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/agents.txt": {
      "get": {
        "summary": "Agent-facing NordSym guide alias",
        "operationId": "getAgentsTxt",
        "responses": {
          "200": {
            "description": "Markdown guide for agents",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/agents.json": {
      "get": {
        "summary": "Structured public NordSym agent policy and boundaries",
        "operationId": "getAgentsJson",
        "responses": {
          "200": {
            "description": "NordSym public agent role metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/systems.canon.json": {
      "get": {
        "summary": "Canonical public systems boundary",
        "operationId": "getSystemsCanon",
        "responses": {
          "200": {
            "description": "NordSym public systems boundary data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/systems": {
      "get": {
        "summary": "Public systems boundary page",
        "operationId": "getSystemsPage",
        "responses": {
          "200": {
            "description": "HTML systems page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
